section.myMap.container
    div(style="position:relative;overflow:hidden;")
        a(href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;") Санкт‑Петербург
        a(href="https://yandex.ru/maps/2/saint-petersburg/house/ulitsa_nekrasova_3_5/Z0kYdQJhSkwBQFtjfXVyeXtqZw==/?ll=30.351396%2C59.938793&utm_medium=mapframe&utm_source=maps&z=16.43" style="color:#eee;font-size:12px;position:absolute;top:14px;") Улица Некрасова, 3-5 — Яндекс Карты
        iframe(src="https://yandex.ru/map-widget/v1/-/CCURiJGu1B", width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;") 


section.footer.container
    nav.footer__menu
        ul.footer__menu_item
            li.footer__menu_list 
                a(href="index.html").footer__menu_link.link-logo MYEL
            li.footer__menu_list 
                a(href="catalog.html").footer__menu_link КОЛЛЕКЦИЯ
            li.footer__menu_list 
                a(href="about.html").footer__menu_link О БРЕНДЕ
            li.footer__menu_list 
                a(href="index.html").footer__menu_link КОНТАКТЫ
    .footer__social 
        .social-facebook 
            img(src="../img/footer/facebook.svg", alt="Facebook")
        .social-insta 
            img(src="../img/footer/insta.svg", alt="Insta")