/*--Общие настройки-----*/
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,*:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
:focus,:active{
    outline: none;
}
a:focus,a:active{
    outline: none;
}
nav,footer,header,aside{
    display: block;
}
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

a {
    color: #000000;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.wrapper {
    width: 100%;
    max-width: 100%;
    background-color: #F1F1F1;
    overflow: hidden;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}


/*-------HEADER---------------*/
.header {
    position: fixed;
    width: 100%;
    z-index: 50;
}
.header__upper {
    background-color: #D8BF95;

    .header__text {
        padding: 11px 15px 11px 15px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 400;
        line-height: 125%;
        align-items: center;
    }
    .header__tel {
        color: #000000;
        padding: 0 0 0 40px;
    }
}


/*корзина*/
.smart-basket__min {
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    color: #fff;
    width: 60px;
    height: 65px;
    margin-top: -58px;
    margin-left: -10px;
    border: none;
}
.smart-basket__min-icon {
    display: none;
}
.smart-basket__min-count {
    color: #000;
    position: absolute;
    top: 13px;
    right: 6px;
    font-size: 18px;
}
/*------------------*/


.header__menu {
    background-color: #F1F1F1;
}
.header__info {
    display: flex;
}
.menu__body {
    position: relative;
    padding: 30px 0 30px 0;
}
.menu__list {
    display: flex;
    justify-content: space-evenly;
    line-height: 125%;
    text-transform: uppercase;
}
.menu__item:nth-child(1){
    padding: 0px 110px 0px 0px;
}

.menu__item:nth-child(2){
    padding: 0px 0px 0px 110px;
}
.header__logo {
    position: absolute;
    left: 46%;
    top: 23px;
}
.header__burger {
    display: none;
}
.header__logo:hover path {
    fill: #D8BF95;
}
/*--Медиа-запросы--------------*/
@media (max-width: 900px) {
    .header__logo {
        left: 43%;
    }
}
@media (max-width: 700px) {
    .header__logo {
        left: 41%;
    }
}

/*-----Бургер------*/
@media (max-width: 500px) {
    .menu__body {
        padding: 50px 0 30px 0;
    }
    
    .header__logo {
        left: 35%;
        top: 25px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 27px;
        height: 12px;
        z-index: 5;
        margin-top: -13px;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 3px;
        transition: all 0.5s ease 0s;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }


    /*--Активный бургер--*/
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 10px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: -1px;
    }
    /*---------*/


    .menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #D8BF95;
        padding: 0px 10px 20px 10px;
        transition: all 0.5s ease 0s;
        overflow: auto;
        z-index: 3;
    }

    .menu.active {
        top: 0;
    }
    .menu__list {
        margin-top: 50px;
        display: block;
        text-align: center;
    }
    li:nth-child(1) {
        margin-top: 60px;
    }
    li:nth-child(2) {
        margin-top: 20px;
    }
    .menu__item:nth-child(1),
    .menu__item:nth-child(2) {
        padding: 0px;
    }
    


    .header__info {
        flex-direction: column;
    }
    .header__upper {
        .header__tel {
            padding: 10px 0 0 0;
        }
    }
    .cart__burger {
        display: flex;
        align-items: center;
    }
    .header__cart {
        padding-right: 55px;
    }
}





/*-------home-------*/
.home {
}
.home__photo-all {
    padding-top: 138px;
    display: flex;
    flex: 1 1 33,333%;
    justify-content: center;
}
.foto img {
    width: 100%;
}
.foto {
    display: inline-block; 
    overflow: hidden;
}
.foto img {
    transition: 1s;
    display: block; 
}
.foto img:hover {
    transform: scale(1.2);
}

/*--Медиа-запросы--*/
@media (max-width: 500px) {
    .home__photo-all {
        flex-wrap: wrap;
    }
    .home__photo-third {
        display: none;
    }
}




/*--------------text----------*/
.text {
    margin-top: 117px;
}
.text__info {
    display: flex;
    justify-content: space-between;
}
.info__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 128%;
    max-width: 820px;
    margin-bottom: 32px;
}
.info__item {
    font-weight: 400;
    font-size: 21px;
    line-height: 119%;
}
.text__button {
    position: relative;
    font-size: 22px;
    line-height: 102%;
    text-transform: uppercase;
    margin-top: 20px;
    padding-right: 50px;
}
.button__arrow {
    position: absolute;
    top: 0px;
    right: -9px;
}
.text__button a:hover {
    border-bottom: 1px solid #000000;
}


/*----Медиа-запрос--------*/
@media (max-width: 1250px) {
    .text__info {
        flex-direction: column;
    }
    .text__button {
        margin-top: 50px;
    }
    .button__arrow {
        left: 240px;
    }
}
@media (max-width: 450px) {
    .text {
        margin-top: 80px;
    }
    .info__title {
        text-align: center;
    }
    .text__button {
        margin-top: 30px;
    }
}

/*-------jewelry-----------*/
.jewelry {
    margin-top: 117px;
}
.title__all {
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
}
.title__all {
    position: relative;
}
.title__all:before {
    content: '';
    position: absolute;
    display: block;
    border-bottom: 2px solid #000000;
    width: 235px;
    bottom: -7px;
    left: 0px;
}
.jewelry__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.jewelry__content_item {
    flex: 1 1 25%;
}
.jewelry__content_img {
    position: relative;
}
.jewelry__content_rings {
    position: absolute;
    top: 25px;
    left: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 127%;
    z-index: 1;
}
.jewelry__content_price {
    position: absolute;
    bottom: 40px;
    left: 115px;
    font-size: 18px;
    line-height: 109%;
    z-index: 1;
}
.content__price-3 {
    bottom: 0px;
    left: 115px;
}
.content__price-4 {
    bottom: 10px;
    left: 115px;
}

.item__first {
    border-right: 1px solid #000000;
}
.item__second {
    border-right: 1px solid #000000;
}
.item__third {
    border-right: 1px solid #000000;
}




/*--Эффект--*/

.jewelry__content_img figure {
	text-align: center;
	cursor: pointer;
}
.jewelry__content_img figure figcaption {
	padding: 2em;
	font-size: 18px;
    line-height: 125%;
}
.jewelry__content_img {
    position: relative;
}
.jewelry__content_img figure figcaption {
    position: absolute;
    top: -45px;
    left: 48px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.jewelry__content_img figure figcaption:hover {
    top: 60px;
    opacity: 100%;
    transition: all 1s ease;
}

.effect-button {
    border-bottom: 1px solid #000;
}



/*----Медиа-запрос--------*/
@media (max-width: 1200px) {
    .jewelry__content {
        flex-wrap: wrap;
    }
    .item__third {
        border: none;
    }
}
@media (max-width: 991px) {
    .item__second {
        border: none;
    }
    .item__third {
        border-right: 1px solid #000000;
    }
}
@media (max-width: 680px) {
    .jewelry__content {
        flex-direction: column;
        text-align: center;
    }
    .item__first {
        border: none;
    }
    .item__third {
        border: none;
    }
    .jewelry__content_item:not(:first-child) {
        margin-top: 50px;
    }
    .item__second {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000;
    }
    .item__third {
        border-bottom: 1px solid #000;
    }
    .content__price-3 {
        bottom: 35px;
    }
}






/*-----jewelry__photo--------*/
.jewelry__photo {
    margin-top: 80px;
    background-color: #E9E9E7;
}
.jewelry__photo-content {
    display: flex;
}
.jewelry__photo-info {
    margin-top: 150px;
    flex: 1 1 100%;
    padding-right: 20px;
}
.text-all {
    font-weight: 400;
    font-size: 43px;
    line-height: 140%;
}
.jewelry__photo-title {
    margin-bottom: 40px;
}
.jewelry__photo-text {
    font-size: 21px;
    line-height: 119%;
}


.owl-carousel .owl-item img {
    display: block;
}

.owl-carousel .item, .owl-carousel .owl-item {
    position: relative;
}
.owl-theme .owl-dots {
    position: absolute;
    bottom: -34px;
    left: 50%;
}
.owl-nav {
    display: none;
}


/*-----Медиа-запросы------*/
@media (max-width: 1200px) {
    .jewelry__photo-info {
        margin-top: 50px;
    }
}
@media (max-width: 950px) {
    .jewelry__photo-content {
        flex-direction: column;
    }
    .jewelry__photo-info {
        text-align: center;
        padding: 0 15px 30px 15px;
    }
    .jewelry__photo-title {
        font-size: 30px;
        line-height: 100%;
    }
}
.withlove__info {
    margin-top: 120px;
    text-align: center;
}
.withlove__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 50px;
}
@media (max-width: 550px) {
    .withlove__title {
        font-size: 44px;
    }
    .withlove__text {
        font-size: 30px;
    }
}


/*----gold---------*/
.gold {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.gold__image_first {
    position: relative;
}
.image-first__text {
    position: absolute;
    top: 70px;
    left: 70px;
    font-size: 18px;
    line-height: 125%;
}
.gold__image_first img {
    width: 100%;
}
.gold__image_second {
    position: relative;
}
.gold__image_second img {
    width: 100%;
}
.image-first__title {
    position: absolute;
    top: 70px;
    left: 70px;
    line-height: 125%;
}
.image-first__button {
    position: absolute;
    bottom: 70px;
    left: 70px;
    font-size: 19px;
}
.image-first__arrow {
    position: absolute;
    top: 0;
    right: -14px;
}
@media (max-width: 1100px) {
    .image-first__title {
        font-size: 30px;
        top: 50px;
    }
}
@media (max-width: 750px) {
    .gold {
        flex-direction: column;
    }
}
@media (max-width: 450px) {
    .image-first__text {
        top: 20px;
        left: 30px;
    }
    .image-first__title {
        top: 30px;
        left: 30px;
    }
    .image-first__button {
        bottom: 30px;
        left: 30px;
    }
}


/*-----new-------*/
.new {
    margin-top: 120px;
}
.new__title:before {
    width: 90px;
}
.new__title {
    margin-bottom: 50px;
}
.new__image {
    display: flex;
    justify-content: space-around;
}
.new__image_first {
    display: flex;
    flex-direction: column;
}
.new__image_first img {
    width: 100%;
    height: 486px;
}
.new__image_second img {
    width: 100%;
}
.new__image_first-text,
.new__image_second-text {
    margin-top: 35px;
    font-size: 24px;
    line-height: 125%;
}
.new-image__button {
    text-align: inherit;
    margin-top: 50px;
}
.new__button__arrow {
    position: absolute;
    top: 0;
    left: 240px;
}
@media (max-width: 1020px) {
    .new__image {
        flex-direction: column;
    }
    .new__image_first img {
        width: 100%;
        height: 100%;
    }
    .new__image_second {
        margin-top: 60px;
    }
}


/*------form----*/
.form {
    margin-top: 120px;
}
.form__title {
    font-size: 26px;
    line-height: 115%;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.form__body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form__body-input {
    display: flex;
}
.form__input {
    border: 1px solid #000;
    background: transparent;
    color: #7E7E7E;
    width: 275px;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    padding: 5px 0 5px 10px;
}
.input-one {
    margin-right: 30px;
}
.form__button {
    display: flex;
    margin-top: 35px;
}
.form__btn {
    background-color: #D8BF95;
    color: #000;
    width: 275px;
    font-weight: 600;
    font-size: 18px;
    line-height: 200%;
    padding: 5px 0 5px 0px;
}
.form__btn:hover {
    background-color: #f7d495;
    transition: all 0.5s ease;
}
.btn-text{
    display: flex;
    margin-left: 25px;
}
.btn-text input {
    cursor: pointer;
    width: 17px;
}
.form__btn-text {
    font-size: 18px;
    line-height: 270%;
    margin-left: 7px;
}

@media (max-width: 770px) {
    .form__body-input {
        flex-direction: column;
    }
    .input-one {
        margin: 0 0 25px 0;
    }
    .form__button {
        flex-direction: column;
    }
    .btn-text{
        margin: 25px 0 0 0;
    }
    .form__btn-text {
        line-height: 100%;
    }
}






/*----footer__fon--------*/
.footer__fon {
    margin-top: 120px;
    text-align: center;
    position: relative;
}
.footer__fon img {
    width: 100%;
}
.fon-text__all {
    color: #fff;
}
.fon__text {
    position: absolute;
    font-size: 18px;
    line-height: 125%;
    top: 65px;
    left: 30px;
}
.fon__title {
    position: absolute;
    font-size: 46px;
    line-height: 100%;
    left: 30px;
    bottom: 100px;
    text-align: initial;
}
.fon__item {
    position: absolute;
    bottom: 70px;
    left: 30px;
}
@media (max-width: 950px) {
    .fon__text {
        top: 30px;
    }
    .fon__title {
        bottom: 55px;
        font-size: 40px;
    }
    .fon__item {
        bottom: 30px;
    }
}
@media (max-width: 600px) {
    .fon__text {
        display: none;
    }
}
@media (max-width: 400px) {
    .fon__title {
        margin: 30px 0 20px 0;
        position: inherit;
        color: black;
        text-align: center;
    }
    .fon__item {
        position: inherit;
        color: black;
        text-align: center;
    }
}


/*------myMap---------*/
#myMap-1 {
    width: 1290px;
    height: 420px;
}

.myMap {
    margin-top: 100px;
    width: 100%;
}


/*---footer---*/
.footer {
    margin-top: 100px;
}
.footer__menu_item {
    display: flex;
    justify-content: space-evenly;
}
.footer__menu_link {
    font-size: 14px;
    line-height: 125%;
    text-transform: uppercase;
}
.footer__menu_link.link-logo {
    font-size: 22px;
    line-height: 131%;
}
.footer__social {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}
.social-facebook {
    padding-right: 30px;
    cursor: pointer;
}
.social-insta {
    cursor: pointer;
}

@media (max-width: 500px) {
    .footer__menu_item {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    .footer__menu_list {
        margin-bottom: 10px;
    }
    .footer__social {
        margin: 30px 0 50px 0;
    }
}




/*----catalog-------*/
.catalog {
    margin-top: 200px;
}
.catalog__body{
    margin-top: 40px;
}
.catalog__title {
    font-size: 23px;
    line-height: 98%;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
}
.catalog__cards {
    display: flex;
    justify-content: space-around;
}
.catalog__item {
    border: 1px solid #000;
    margin-bottom: 30px;
}
.card__image img {
    width: 100%;
}
.card__price {
    font-size: 16px;
    line-height: 109%;
    text-align: center;
    margin-top: 15px;
}
.card-amount {
    margin: 10px;
    cursor: pointer;
}
.smart-basket__remove-item:hover,
.smart-basket__add-item:hover {
    background-color: #c2c2c2;
}
.card__button-add {
    background-color: #E2C79A;
    font-weight: 600;
    font-size: 15px;
    line-height: 156%;
    padding: 0px 20px 0px 20px;
    margin: 15px;
}

.chain_body {
    margin-top: 80px;
}



/*Медиа-запрос*/
@media (max-width: 1000px) {
    .catalog__cards {
        flex-wrap: wrap;
    }
}





.new__block {
    margin-top: 100px;
}
.info__first,
.info__second {
    display: flex;
}
.info__first_image,
.info__second_image {
    flex: 1 1 80%;
}
.info__first_image img {
    width: 100%;
}
.info__first_text {
    margin: 20px 0 0 80px;
}
.first-text__title,
.second-text__title {
    font-size: 43px;
    line-height: 149%;
    margin-bottom: 20px;
}
.first-text__item,
.second-text__item {
    font-size: 21px;
    line-height: 119%;
}
.info__second_text {
    margin-top: 50px;
}
.info__second_image img {
    width: 100%;
}

/*Медиа-запрос*/
@media (max-width: 1000px) {
    .info__first {
        flex-direction: column-reverse;
    }
    .info__first_text {
        margin: 20px 0 40px 0;
    }
    .new__title {
        margin-bottom: 30px;
    }
    .info__second {
        flex-direction: column;
    }
    .info__second_text {
        margin-bottom: 30px;
    }
}


.fon__title.new-fon__title {
    top: 115px;
}
@media (max-width: 400px) {
    .new-footer__fon {
        margin-top: 40px;
    }
}




/*----about----*/
.about {
    margin-top: 210px;
}
.about__title {
    margin-bottom: 80px;
}
.about__info {
    display: flex;
    background: rgba(171, 193, 226, 0.25);
}
.about__info_image {
    flex: 1 1 250%;
}
.about__info_image img {
    width: 100%;
}
.about__info_text {
    font-size: 43px;
    line-height: 140%;
}
.about__info_item {
    margin: 30px 0 0 55px;
}
.about__button {
    position: relative;
    font-size: 22px;
    line-height: 102%;
    text-transform: uppercase;
    margin-top: 60px;
}
.about__arrow {
    position: absolute;
    top: 0;
    left: 240px;
}
@media (max-width: 1200px) {
    .about__info {
        flex-direction: column-reverse;
    }
    .about__info_image {
        margin-top: 40px;
    }
    .about__info_item {
        margin: 20px 0px 0px 10px;
    }
}
@media (max-width: 400px) {
    .about__info_text {
        font-size: 33px;
        line-height: 120%;
    }
    .about__button {
        font-size: 20px;
    }
    .about__arrow {
        left: 218px;
    }
}





/*-------delivery----------*/
.delivery {
    margin-top: 150px;
}
.delivery__text {
    font-size: 38px;
    line-height: 158%;
    margin-top: -30px;
}

.delivery__courier {
    position: relative;
    border: 1px solid #000;
    padding: 60px 100px 80px 44px;
    width: 970px;
    margin-top: 117px;
}
.courier__title {
    font-size: 37px;
    line-height: 110%;
    font-weight: 400;
    margin-bottom: 22px;
}
.courier__text {
    font-size: 30px;
    line-height: 133%;
}
.text_first {
    margin-bottom: 35px;
}
.image_first {
    position: absolute;
    top: -53px;
    left: 45px;
}

.delivery__express {
    position: relative;
    border: 1px solid #000;
    padding: 60px 100px 80px 44px;
    width: 970px;
    margin-top: 117px;
    display: block;
    margin-left: auto;
}


@media (max-width: 1000px) {
    .delivery__courier,
    .delivery__express {
        width: 100%;
        padding: 50px 30px 40px 25px;
    }
}


/*----question-------*/
.question {
    margin-top: 150px;
}

.question__block {
    border: 1px solid rgb(104, 104, 104);
    padding: 20px 0 16px 54px;
}
.block-question__title {
    position: relative;
    font-size: 30px;
    line-height: 133%;
    font-weight: 400;
    margin-bottom: 0px;
    cursor: pointer;
}
.block-question__text {
    font-size: 25px;
    line-height: 110%;
    margin: 12px 0 20px 0;
}
.block-question__arrow img {
    position: absolute;
    top: 16px;
    right: 79px;
}
.block-question__title::before {
    content: '';
    position: absolute;
    background-image: url(../img/about/Arrow-1.png);
    top: 13px;
    right: 54px;
    width: 30px;
    height: 16px;
}

/*--Актив--*/
.block-question__title.active::before {
    transform: rotate(180deg);
}


.block-question__text {
    display: none;
}


/*---Медиа-запрос----*/
@media (max-width: 680px) {
    .question__block {
        padding: 10px 0 16px 20px;
    }
    .block-question__title {
        font-size: 25px;
        line-height: 110%;
    }
    .block-question__text {
        font-size: 20px;
        line-height: 100%;
    }
    .block-question__title::before {
        content: '';
        position: absolute;
        background-image: url(../img/about/Arrow-1.png);
        top: 13px;
        right: 13px;
    }
}
@media (max-width: 400px) {
    .block-question__title::before {
        top: -8px;
    }
}